
<style>
    .customHeading {
        color: #30c6b0;
    }

    .custom-form-group label {
        color: #30c6b0;
        font-size: 13px;
        font-weight: bold;
        letter-spacing: 2px;
    }

    .custom-form-group span {
        width: 32px;
        border-bottom: 1px solid #30c6b0;
        vertical-align: middle;
        color: #30c6b0;
        display: inline;
    }

    .custom-form-group input {
        width: calc(100% - 32px);
        border: none;
        border-bottom: 1px solid #30c6b0;
        box-sizing: content-box;
        outline: none;
    }

    .custom-btn {
        border-radius: 32px;
        background: #30c6b0;
        border: 2px solid transparent;
        color: #fff;
        height: 48px;
    }

        .custom-btn:hover {
            background: #fff;
            border: none;
            border: 2px solid #30c6b0;
            color: #30c6b0;
        }

    #formPanel {
        min-width: 280px;
        max-width: 320px;
        width: 100%;
        margin: 0 auto;
    }

    .objectFit {
        object-fit: cover;
        width: 100%;
        max-width: 320px;
        min-height: 60vh;
        margin: 0 auto
    }

    #showCursor {
        cursor: pointer
    }</style>

<div class="min-vh-100 d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-7 mx-auto">
                <div class="shadow-lg">
                    <div class="d-flex align-items-center">
                        <div class="d-none d-md-block d-lg-block">
                            <img src="/static_files/images/html/thApp.jpg" class="objectFit" />
                        </div>
                        <div class="p-4" id="formPanel">
                            <div class="text-center mb-5">
                                <h1 class="customHeading h3 text-uppercase">Login</h1>
                            </div>
                            <form method="post" action="/Home/LoginAd">
                                <div class="custom-form-group">
                                    <label class="text-uppercase" for="username">Username</label>
                                    <input type="text" id="username" class="pb-1" name="email" /><span class="pb-1"><i class="fas fa-user"></i></span>
                                </div>
                                <div class="custom-form-group mt-3">
                                    <label class="text-uppercase" for="password">Password</label>
                                    <input type="password" id="password" class="pb-1" name="password"/><span class="pb-1"><i id="showCursor" class="fas fa-eye-slash" onclick="showPassword(event)"></i></span>
                                </div>
                                <div class="mt-5">
                                    <button type="submit"class="w-100 p-2 d-block custom-btn">Login</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function showPassword(e) {
        var input = document.getElementById('password')
        if (input.type === 'password') {
            input.type = "text"
            e.target.className = "fas fa-eye"
        } else {
            input.type = "password"
            e.target.className = "fas fa-eye-slash"
        }
    }</script>